blockquote {
  font-family: Georgia;
  font-size: 1.5em;
  font-weight: 200;
  font-style: italic;
  padding: 1.25em;
}

.container-text {
  margin-top: 24px;
}

 .container-text >  h1, h1 {
   font-size: 2.5em;
   margin-top: 1em;
   margin-bottom: -.25em;
   color: #d6111e
 }

 .container-text >  h2, h2 {
   font-size: 2em;
   margin-top: 1em;
   margin-bottom: -.25em;
   color: #d6111e

  }

 .container-text >  h3, h3 {
   color: #d6111e;
 }

.container-text > p, p {
  color: #333;
  font-size: 1.25em;
  line-height: 1.5em;
  margin: 1em 0;
}

.container-text > p > a, a {
  color: #d6111e;
  font-weight: bold;
  text-decoration: none;
}

.container-text > p > a:hover, a:hover,
.container-text > p > a:active, a:active  {
    text-decoration: underline;
  }

.container-text > p > a:visited, a:visited {
  color: lighten(#d6111e 15%)
}

$greatest-color: #043423;
$greatest-color: tomato;

/*
 * NOTE: There is partial support for SASS with the angular CLI so far.
 */
