<div class="container-text">
  <h1>{{title}}</h1>
  <h2>About Me</h2>
  <p>You may call me James.</p>
  <p> Developing for the web since 2015, helping online businesses, entrepreneurs, users and organizations reach their goals
    faster, by developing faster, useful and responsive websites.
  </p>
  <p> I spent at least five hours a week learning and/or reading, sharpening the saw, as Stephen Covey would say. Other than
    traveling, I also enjoy dancing salsa and bachata, I do like tacos. You can find
    <strong>my social networks</strong> on the footer of this page.
  </p>
  <h2>About what I do</h2>
  <p>I see it like this:</p>
  <blockquote>Websites are solutions to people's problems. A brilliant solution to the wrong problem can be worse than no solution at
    all</blockquote>
  <p>therefore I find the right problem and then fulfill human needs. If you are interested, here is a link to
    <a href="https://docs.google.com/document/d/1bKqVbohnl_aCA1EHmIoE0xgsX-679TPOSjP5Pi5irTo/edit?usp=sharing">my resume</a>.
  </p>
  <h2>About this website</h2>
  <p>I do care about performance, usability and accessibility. Most of the content and half of the words were removed in order
    to improve usability. You can see more about <a href="https://github.com/papaponmx/angular.riosjaime.com/blob/master/README.md">this site on github</a>.
  </p>

  <div class="call-to-action flex-column-center">

    <p class="question">Ready to achieve more?</p>
    <a href="#" class="btn__touch btn__hire-me">Get in touch</a>
  </div>

</div>
