<div class="container-text">
  <h1>{{title}}</h1>

  <section class="card">
    <h2>About Me</h2>
    <p>You may call me James.</p>
    <p> Developing for the web since 2015, helping users and organizations reach their goals faster, by developing faster, useful
      and responsive websites.
    </p>
    <p>I see it like this: Websites are solutions to people's problems.</p>
    <blockquote>A brilliant solution to the wrong problem can be worse than no solution at all.
    </blockquote>
    <p>therefore I find the right problem and then fulfill human needs.
    </p>
    <p> I spend at least five hours a week learning and/or reading, sharpening the saw, as Stephen Covey would say. I enjoy traveling,
      dancing and tacos. You can find
      <strong>my social networks</strong> on the footer of this page.
    </p>
  </section>

  <section class="card">
    <h2>About this website</h2>


    <p>I do care about people. Here is a list of this website features in no particular order:</p>
      <ul>
        <li>Developed with Angular.</li>
        <li>Fully responsive.</li>
        <li>Tested in at least 3 different browsers.</li>
        <li>Uses Webpack.</li>
        <li>Uses SASS.</li>
        <li>Uses SVG images.</li>
        <li>Half of the words removed in order to improve usability.</li>
      </ul>

      <p>If you are interested you can <a href="https://github.com/papaponmx/angular.riosjaime.com">check it on github</a>.</p>
  </section>
</div>
