<div class="container-text">
  <h1>{{title}}</h1>
  <h2>About Me</h2>
  <p>You may call me James.</p>
  <p> Developing for the web since 2015, helping online businesses, entrepreneurs, users and organizations reach their goals
    faster, by developing faster, useful and responsive websites.
  </p>
  <p> I spend at least five hours a week learning and/or reading, sharpening the saw, as Stephen Covey would say. I enjoy
    traveling, dancing and tacos. You can find
    <strong>my social networks</strong> on the footer of this page.
  </p>
  <h2>About what I do</h2>
  <p>I see it like this:</p>
  <blockquote>Websites are solutions to people's problems. A brilliant solution to the wrong problem can be worse than no solution at
    all</blockquote>
  <p>therefore I find the right problem and then fulfill human needs.
  </p>
  <h2>About this website</h2>
  <p>I do care about performance, usability and accessibility. Most of the content and half of the words were removed in order
    to improve usability. You can see more about <a href="https://github.com/papaponmx/angular.riosjaime.com/blob/master/README.md" target="_blank">this site on github</a>.
  </p>
</div>
