.socials {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: left;
  justify-content: space-between;

  a svg[id^=social] {
      fill: #333;
      height: 4.25em;
      width: 4.25em;
      max-height: 15vw;
      max-width: 15vw;

      margin-right: .5em;
      transition: .25s;
  }


  a svg[id^=social]:hover, a svg[id^=social]:active, a svg[id^=social]:focus {
    fill: #d6111e;
  }

}


