img.home__img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  max-height: 45vh;
  max-width: 45vw;
}

.home__text {
  width: 500px;
  max-width: 75vw;
  padding: 2em;

}

.home__header {
  align-self: flex-start;
}
